@import "tailwindcss";

@font-face {
    font-family: "Rokh";
    src: url("/fonts/RokhFaNum-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Vazir";
    src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
    font-weight: normal;
}

* {
    font-family: "Vazir", "Rokh", sans-serif;
}

*:focus-visible {
    outline: 2px solid #ff8328;
}

html, body {
    background-color: #F8FAFC;
}

@theme {
    --font-rokh: "Rokh", sans-serif;
    --font-vazir: "Vazir", sans-serif;
    --color-primary: #1E4A7A;
    --color-success: #1E7A5A;
    --color-warning: #B45B1A;

    --shadow-card: 0px 1px 2px rgba(0, 0, 0, 0.06),
    0px 1px 4px rgba(0, 0, 0, 0.03);
}